.stApp{
    background:linear-gradient(
        135deg,
        hsl(210, 46%, 65%) 0%,
        #e0f2fe 50%,
        #3286da 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI',sans-serif;
}
.card{
    background-color: hsl(177, 16%, 78%);
    padding:25px;
    border-radius:16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}
h1,h2,h3{
    color: #0f172a;
}
div[data-tested="metric-container"]{
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.prediction-box{
    background: linear-gradient(
        135deg,
        #8f66d2,
        #8ddcda
    );
    padding:22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color:#14532d;
    margin-top: 15px;
}